@using System.Web.Mvc.Html
@model Hospital.Models.Doctor
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Create Doctor"];
}

<h1>@Localizer["Create Doctor"]</h1>

<h4>@Localizer["Patient"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDoctor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@Localizer["Name"]</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Specialization type"]</label>
                @Html.DropDownListFor(m => m.specializationType, Html.GetEnumSelectList(typeof(Hospital.Models.SpecializationType)), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Job seniority"]</label>
                <input asp-for="jobSeniority" class="form-control" />
                <span asp-validation-for="jobSeniority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=@Localizer["Create"] class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
