@model IEnumerable<Hospital.Models.Doctor>

@{
    ViewData["Title"] = "DoctorsList";
}

<h1>DoctorsList</h1>

<p>
    <a asp-action="CreateDoctor">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.specializationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jobSeniority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specializationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobSeniority)
            </td>
            <td>
                <form method="get" class="horizontal">
                    <button asp-action="Edit" asp-route-id="@item.id">Edit</button>
                </form>
                <form method="get" class="horizontal">
                    <button asp-action="Details" asp-route-id="@item.id">Details</button>
                </form>
                <form method="post" class="horizontal">
                    <button asp-action="Delete" asp-route-id="@item.id">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
