@model IEnumerable<Hospital.Models.Patient>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Patients List"];
}

<h1>@Localizer["Patients List"]</h1>

<p>
    <a asp-action="CreatePatient">@Localizer["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Name"]
            </th>
            <th>
                @Localizer["Birth date"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.birthDate)
                </td>
                <td>
                    <form method="get" class="horizontal">
                        <button asp-action="Edit" asp-route-id="@item.id">@Localizer["Edit"]</button>
                    </form>
                    <form method="get" class="horizontal">
                        <button asp-action="Details" asp-route-id="@item.id">@Localizer["Details"]</button>
                    </form>
                    <form method="post" class="horizontal">
                        <button asp-action="Delete" asp-route-id="@item.id">@Localizer["Delete"]</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>
